form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.form-cointaner{
    position: absolute;
    top: 30%;
    z-index: 20;
    padding: 20px;
    font-weight: bold;
}